<section>
  <h2 class="title has-text-centered">Create a Post!</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Post Title Here!"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Post Content Here!"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>